body {
    /* background: #8c7ae6; */
    background-color: #e1f4f3;
    text-align: center;
}

.navbar {
    background-color: #333333;
}

a {
    color: #f1f9f9;
}

a:hover {
    color: #f0f0f0;
}
.headingtile{
    padding-bottom: 70px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
li {
float: left;
}
  
li a {
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

.active{
    background-color: rgb(16, 199, 16);
}